<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="C:\internal.log"
      internalLogLevel="Off">

  <!-- the targets to write to -->
  <targets async="true">
    <!-- write color console log -->
    <target name="console" xsi:type="ColoredConsole"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=toString,Data:maxInnerExceptionLevel=10}"
            useDefaultRowHighlightingRules="false" detectConsoleAvailable="False">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target xsi:type="File"
            name="allfile"
            fileName="producer-${machinename}-nlog-current.${level}.json"
            archiveFileName="producer-${machinename}-nlog-archive.{#}.${level}.json"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            concurrentWrites="true">
      <layout type='JsonLayout'>
        <parameter name="machinename" layout="${MachineName}" />
        <attribute name='time' layout='${longdate}' />
        <attribute name='level' layout='${level:upperCase=true}' />
        <parameter name="logger" layout="${logger}" />
        <parameter name="callsite" layout="${callsite}" />
        <attribute name='message' layout='${message}' encode="false" />
        <attribute name='exception' layout='${exception:format=toString,Data:maxInnerExceptionLevel=10}' />
      </layout>
    </target>
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" writeTo="allfile" />
  </rules>
</nlog>